spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/todos_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  ai:
    openai:
      api-key: YOUR_OPENAI_API_KEY_HERE
      chat:
        options:
          model: gpt-4
          temperature: 0.7
          max-tokens: 500


debug: true